*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    top: 100px;
    width: 100%;
    background-color: #5E6572;
    margin: 0px;
    text-align: center;
    z-index: 1000;
}

nav a{
    display: inline-block;
    color: #EEF1EF;
    text-decoration: none;
    padding: 20px 80px;
}

nav a:hover{
    background-color: #A9B4C2;
    color: #1C2321;
}

/*下拉式選單*/
.dropdown{
    display: inline-block;
    position: relative;
}

/*子選單*/
.submenu{
    display: none;/*隱藏子選單*/
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #A9B4C2;
    z-index: 1000;
}

/*滑鼠偵測時顯示子選單*/
.dropdown:hover .submenu{
    display: block;
}

/*滑鼠移入子選單時，上層按鈕保持顏色*/
.dropdown:hover > a{
    background-color: #A9B4C2;
    color: #1C2321;
}